<body>
    <h1>Movimientos</h1>
    <div class="container" style="justify-content: center; display: flex;">
        <div class="mb-3">
            <a href="/Cuenta/VerGastos?IdCuenta=@ViewBag.CuentaId" class="btn btn-light">Gastos</a>
        </div>
        <div class="mb-3">
            <a href="/Cuenta/VerIngresos?IdCuenta=@ViewBag.CuentaId" class="btn btn-light">Ingresos</a>
        </div>
    </div>
</body>